<div class="footer">
<div class="row">
  <div class="column side" >
    <ul>
      <li><a href="http://www.facebook.com/MaherAmr871" class="social-link"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
      <li><a href="http://www.instagram.com/captnamrmaher/?igshid=MzNlNGNkZWQ4Mg%3D%3D" class="social-link"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
    </ul>
  </div>
  <div class="column middle" >
    <ul>
      <li><a href="http://twitter.com/Mahe2Amr" class="social-link"><i class="fa-brands fa-twitter"></i> Twitter</a></li>
      <li><a href="http://www.linkedin.com/in/captain-amr-fawzy-888294236/" class="social-link"><i class="fa-brands fa-linkedin"></i> Linkedin</a></li>
    </ul>
  </div>
  <div class="column side">
    <ul>
        <li><a href="tel:+201022270213" class="social-link"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a></li>
        <li><a href="mailto:maheramr871@gmail.com" class="social-link"><i class="fa-solid fa-envelope"></i> E_Mail</a></li>
        <li><a href="tel:+201022270213" class="social-link"><i class="fa-solid fa-phone"></i>  Phone</a></li>
    </ul>
  </div>
</div>
    <p>  Copyright © Amr Maher All rights reserved!</p>
</div>
  