<script src="script.js"></script>
<form id="contascriptctus" action="">
    <label for="FullName">Name</label>
    <input type="text" name="FullName" id="FullName" placeholder="FullName">
    <label for="Phone">Phone</label>
    <input type="tel" name="phone" id="phone" placeholder="Phone">
    <label for="E_mail">E_mail</label>
    <input type="email" name="E_mail" id="E_mail" placeholder="E_mail">
    <label for="message">Message</label>
    <textarea name="message" id="message" placeholder="Message"></textarea>
    <input type="button"  value="Send E_mail" id="Send">
</form>